@import "tailwindcss";
 @layer {
    body {
        background-color: var(--color-slate-300);
    }
    h2 {
        font-weight: 700;
        letter-spacing: 0.5em;
        font-size: var(--text-2xl);
    }
    input {
        background-color:var(--color-yellow-200);
        border-radius: 15px;
        padding: 0 10px;
    }
    select {
        background-color: var(--color-sky-700);
        border-radius: 15px;
        padding: 0 10px;
    }
    button {
        border-radius: 15px;
        background-color:var(--color-sky-900);
        color: white;
        cursor: pointer;
        padding: 8px;
    }
    button:hover {
        background-color: var(--color-sky-800);
    }
 }
 
 